*,
::after,
::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.card-flex {
    gap: 24px;
    justify-content: center;
    text-align: center;
}   
.containerrrrrrr h1 {
    text-align: center;
    margin-bottom: 40px;
}
.containerrrrrrr {
    margin-top: 100px;
}
.card-but {
    background-color: black;
    border: 0;
    color: white;
    height: 54px;
}
.card {
    border: 0px;
    width: 384px;
}
.containerrr{
    margin-left: 5px;
}

.row{
    width: 100%;
}

.zagol{
    font-size: 80px;
    padding-left: 360px;
    padding-top: 104px;
}

.small-text{
    margin-left: 350px;
    margin-top: 41px;
}

.small-text p{
    font-size: 16px;
    width: 502px;
    height: 126px;
}

.btn{
    background-color: #030305;
    width: 334px;
    height: 64px;
    font-size: 16px;
    color: white;
    border-radius: 0px;
    margin-left: 360px;
    margin-top: 40px;
}
.flex {
    gap: 20px;
}
.header {
    display: flex;
    align-items: center;
    gap: 115px;
}
.header-li {
    color: black;
    text-decoration: none;
}
.logo {
    width: 113px;
    margin-right: 244px;
}
.footer {
        display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #E5E5E5;
}
.yznat {
    font-size: 60px;
}

.zapolnt {
    font-size: 16px;
    margin-top: 50px
}


.carsform {
    display: flex;
}

.formask {
    gap: 20px;
}
input {
    width: 100%;
    width: 344px;
    height: 65px;
    margin-bottom: 15px;
    border: 1px solid black;
}
.button {
    width: 100%;
    width: 344px;
    height: 65px;
    margin-bottom: 15px;
    background-color: black;
    color: white;
    border: 0px;
}

.rolls {
    margin-top: -50px;
    width: 100%;
}
.sdfsdfs {
    margin-top: 40px;
}
@media (max-width: 1920px){
    .containerrr{
        margin-left: -200px;
    }
}

@media (max-width: 1820px) {
    .logo {
        margin-right: 160px;
    }
}
@media (max-width: 1720px) {
    .logo {
        margin-right: 160px;
    }
}
@media (max-width: 1620px) {
    .logo {
        margin-right: 160px;
    }
}
@media (max-width: 1520px) {
    .logo {
        margin-right: 160px;
    }
}
@media (max-width: 1420px) {
    .logo {
        margin-right: 160px;
    }
}

@media (max-width: 1320px){
    .containerrr{
        margin-left: -200px;
    }
      .logo {
        margin-right: 160px;
    }
    
    .zagol{
        font-size: 60px;
    }
}
@media (max-width: 1220px) {
    .logo {
        margin-right: 160px;
    }
     input {
    width: 100%;
    width: 304px;
    height: 65px;
}
.button {
    width: 304px;
}
}

@media (max-width: 1120px){
    .containerrr{
        margin-left: -200px;
    }
    .logo {
        margin-right: 80px;
    }
    
    .zagol{
        font-size: 50px;
    }

    .small-text{
        font-size: 20px;
    }
      .rolls {
        display: none;
    }

    .lalala{
        margin-left: 250px;
    }

    .formsss{
        align-items: center;
        justify-content: center;
    }

    .lalalalalal{
        margin-left: 170px;
        text-align: center ;
    }

    input {
    width: 100%;
    width: 304px;
    height: 65px;
    }

    .ttttraaf{
        display: none;
    }
}

@media (max-width: 1020px) {
    .logo {
        margin-right: 70px;
    }
}
@media (max-width: 920px){
    .containerrr{
        margin-left: -300px;
    }
    
    .zagol{
        font-size: 40px;
        width: 900px;
        padding: 0px;
        margin-top: 90px;
        margin-left: 360px;
    }

    .small-text{
        font-size: 15px;
    }
     .header {
        justify-content: space-between;
    }
     .rolls {
        display: none;
        
    }

    .lalala{
        margin-left: 100px;
    }

    .formsss{
        align-items: center;
        justify-content: center;
    }

    .lalalalalal{
        margin-left: 70px;
        text-align: center;
    }

    input {
    width: 100%;
    width: 304px;
    height: 65px;
    }

    .ttttraaf{
        flex-direction: none;
    }

    .formsss{
        width: 250px;
        margin-left: 150px;
    }
}

@media (max-width: 820px) {
    .header {
        justify-content: space-between;
        gap: 10px;
    }

}
@media (max-width: 720px) {
    .header {
        justify-content: space-between;
        gap: 10px;
        font-size: 16px;
    }
    .logo {
        width: 100px;
    }
      .rolls {
        display: none;
        
    }

    .lalala{
        margin-left: 40px;
    }

    .formsss{
        align-items: center;
        justify-content: center;
    }

    .lalalalalal{
        margin-left: 20px;
        text-align: center;
    }

    input {
    width: 100%;
    width: 304px;
    height: 65px;
    }

    .ttttraaf{
        flex-direction: none;
    }

    .formsss{
        width: 250px;
        margin-left: 80px;
    }
}
@media (max-width: 620px){
    .containerrr{
        margin-left: -300px;
    }
    
    .zagol{
        font-size: 40px;
        width: 900px;
        padding: 0px;
        margin-top: 90px;
        margin-left: 360px;
    }

    .small-text{
        font-size: 15px;
    }
    .header {
        justify-content: space-between;
    }

    .btn{
        margin-left: 400px;
    }
}

@media (max-width: 520px) {
    .logo {
        margin-right: 0px;
    }
}
@media (max-width: 420px){
    .containerrr{
        margin-left: -300px;
    }
      .rolls {
        display: none;
        
    }

    .lalala{
        margin-left: 30px;
    }

    .formsss{
        align-items: center;
        justify-content: center;
    }

    .lalalalalal{
        margin-left: 10px;
        text-align: center;
    }

    input {
    width: 100%;
    width: 304px;
    height: 65px;
    }

    .ttttraaf{
        flex-direction: none;
    }

    .formsss{
        width: 250px;
        margin-left: 80px;
    }
    
    .zagol{
        font-size: 45px;
        font-weight: 500;
        width: 900px;
        padding: 0px;
        margin-top: 90px;
        margin-left: 360px;
    }

    .small-text{
        font-size: 15px;
        text-align: center;
        margin-left: 325px;
    }

    .btn{
        margin-left: 350px;
    }
      .logo {
        margin-right: 0px;
        width: 70px;
    }
       .rolls {
        display: none;
        
    }

    .lalala h1{
        font-size: 40px;
        margin-left: 20px;
    }

    .formsss{
        align-items: center;
        justify-content: center;
    }

    .lalalalalal{
        margin-left: 10px;
        margin-top: -35px;
        text-align: center;
    }

    input {
    width: 100%;
    width: 304px;
    height: 65px;
    }

    .ttttraaf{
        flex-direction: none;
    }

    .formsss{
        width: 250px;
        margin-left: 30px;
    }
}

@media (max-width: 320px){
    .containerrr{
        margin-left: -300px;
    }
    
    .zagol{
        font-size: 35px;
        font-weight: 500;
        width: 900px;
        padding: 0px;
        margin-top: 90px;
        margin-left: 340px;
    }

    .small-text{
        font-size: 15px;
        text-align: center;
        margin-left: 325px;
    }

    .btn{
        margin-left: 325px;
    }
      .logo {
        margin-right: 0px;
    }
    .header {
        font-size: 10px;
    }
}